/* ### Headings, Call-to-actions, Header Navigation */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

/* ### Body */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root{
/* ## Colors */

/* ### Primary */

--Dark-Blue-intro-and-email-sign-up-background: hsl(217, 28%, 15%);
--Dark-Blue-main-background: hsl(218, 28%, 13%);
--Dark-Blue-footer-background: hsl(216, 53%, 9%);
--Dark-Blue-testimonials-background: hsl(219, 30%, 18%);

/* ### Accent */

--Cyan-inside-call-to-action-gradient: hsl(176, 68%, 64%);
--Blue-inside-call-to-action-gradient: hsl(198, 60%, 50%);
--Light-Red-error: hsl(0, 100%, 63%);

/* ### Neutral */

--White: hsl(0, 0%, 100%);

/* ## Typography */

--ff-raleway: 'Raleway', sans-serif;
--ff-Open-Sans:'Open Sans', sans-serif;
--fw-400:400;
--fw-700:700;
}
/* ------- removes default margins paddings ------ */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}
/* Make images easier to work with */
img,
picture {
    max-width: 100%;
}
body{
    background-color: var(--Dark-Blue-main-background);
    max-width:1440px;
    min-width: 375px;
    
}
.header-intro-section{
    background-color:var(--Dark-Blue-intro-and-email-sign-up-background);

}


header{
    max-width: 90vw;
    margin: auto;
    padding: 2rem;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    --ff-raleway: 'Raleway', sans-serif;
}
.list{
    display: flex;
    list-style: none;
}
.nav-links{
    color: rgba(255, 255, 255, 0.6);
    padding: 0 20px;
    font-size: 18px;
}
.nav-links:hover{
    text-decoration: underline;
    color: rgba(255, 255, 255, 2);
    cursor: pointer;

}
@media screen and (max-width:650px){

    header{
        padding: 1rem;
        max-width: 100vw;
    }
    .logo{
        width: 90px;
    }
    .nav-links{
        padding: 0 10px;
        font-size: 14px;
    }
}
.intro-section{
    font-family: var(--ff-raleway);
    text-align: center;
    margin: 10px auto; 
    background-image: url(./images/bg-curvy-desktop.svg);
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center bottom ;
    background-size: stretch;
    margin-bottom: 0px;
   
}

.intro-header{
    font-size: 2.5rem;
    width: 60%;
    color: var(--White);
    margin: auto;
    margin-top: 20px;
}
.intro-text{
    font-family: var(--ff-Open-Sans);
    font-size: 14px;
    color: var(--White);
    width: 35%;
    margin: auto;
    margin-top: 25px;
    
}

.intro-Btn{
    margin-top: 25px;
    background-color: var(--Blue-inside-call-to-action-gradient);
    padding: 1rem 4.3rem;
    color: var(--White);
    border: none;
    outline: 0;
    border-radius: 40px; 
}
.intro-Btn:hover{
    background-color:var(--Cyan-inside-call-to-action-gradient);
    cursor: pointer;
}
@media screen and (max-width:900px){
    .intro-text{
        width: 65%;
    }
    .intro-header{
        width: 90%;
        font-size: 2rem;

    }
}

@media screen and (max-width:750px) {
    .intro-section{
        margin: 10px auto; 
        text-align: center;
        padding-bottom:0;
        background-image: url('./images/bg-curvy-mobile.svg');
        background-attachment: scroll;
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: contain;
        margin-bottom: 0px;
    }
    .intro-img{
        max-width: 100%;
        width:90%;
        height: auto;

    } 
    
}
@media screen and (max-width:480px){
    .intro-text{
        width: 80%;
        font-size: 12px;
    }
    .intro-header{
        width: 90%;
        font-size: 1.5rem;

    }
}
.features-section{
   padding: 2rem;
}
.section-1,.section-2{
    display: flex;
    text-align: center;
    color: #fff;
    margin-top: 6rem;
    justify-content: center;
    align-items: center;
}
.col{
    width: 500px;  
}
.features-section img{
    margin-bottom: 10px;
}

.features-section .header{
    font-family: var(--ff-raleway);
    font-size: 1.4rem;
    font-weight: var(--fw-700);
    margin-bottom: 10px;

}
.features-section .text{
    width: 78%;
    margin: auto;
    font-family: var(--ff-Open-Sans);
    font-size: 14px;

}
@media screen and (max-width:810px){
    .section-1,.section-2{
        flex-direction: column;
        gap: 60px;
    }
    .col{
        width: auto;  
    }
}
@media screen and (max-width:450px){
    /* .features-section{
        padding: 1rem;
     } */
    .features-section .header{
        font-size: 1rem;
    }
    .features-section .text{
        font-size: 14px;
        width: 100%;
    }

}
.productive-section{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    margin: auto;
    gap: 100px;
    margin-top: 6rem;
}
.stay-productive-img-section{
    flex-basis: 50%;

}

.productive-article{
    flex-basis: 50%;
    color: var(--White);
}
.productive-header{
    font-size: 2rem;
    font-family: var(--ff-raleway);
    width: 70%;
}
.productive-text{
    margin-top: 15px;
    line-height: 22px; 
    font-size: 14px; 
}
.productive-show-link{
    display: flex;
    align-items: center;
    padding-bottom: 4px;
    width: 186px;
    border-bottom: 1px solid hsl(176, 68%, 64%);
    margin-top: 28px;
    font-size: 18px;
    color: var(--Cyan-inside-call-to-action-gradient);
    
}
.arrow-img{
    margin-left: 8px;
    margin-top: 2px;
}
.productive-show-link:hover{
    color: var(--White);
    border-color: var(--White);
    cursor: pointer;

}
@media screen and (max-width:810px){
    .productive-section{
        flex-direction: column;
    }
    .productive-header{
        width: 90%;
    }
    
}
@media screen and (max-width:450px){
    .productive-header{
        width: 100%;
        font-size: 1rem;
    }
    .productive-text{
        font-size: 13px;
        line-height: 18px;
    }
    .productive-show-link{
        font-size: 14px;
        width: 150px;
    }
}

